*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/sonarlint/issuestore/3/d/3d9cc098a8f1e0bbd51dd6263a6ecf62a54ba9e5
/.idea/sonarlint/securityhotspotstore/3/d/3d9cc098a8f1e0bbd51dd6263a6ecf62a54ba9e5
/.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/sonarlint/securityhotspotstore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/androidTestResultsUserPreferences.xml
/.idea/sonarlint/issuestore/d/2/d2a4383452aad84a18429a5844d31330a012a9e6
/.idea/sonarlint/securityhotspotstore/d/2/d2a4383452aad84a18429a5844d31330a012a9e6
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/inspectionProfiles/Project_Default.xml
